    <div  class="container-fluid">
       <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a routerLink="view-producto" class="nav-link" class="btn btn-primary active" role="button" >Ver Producto</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="add-producto" class="nav-link" class="btn btn-primary active" role="button" >Agregar Producto</a>
          </li> 
                   
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a routerLink="view-tipo-producto" class="nav-link" class="btn btn-primary active" role="button" >Ver Tipo Producto</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="add-tipo-producto" class="nav-link" class="btn btn-primary active" role="button" >Agregar Tipo Producto</a>
          </li> 
                   
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>
    